<div class="container mt-5 mb-5">
  <div class="col-9 mx-auto">
    <div class="card">
      <div class="question-post-container">
        <div class="card-body">
          <div class="mx-auto">
            <h2 class="question-post">質問</h2>
            <%= render 'form', question: @question %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
