<div class="container">
  <div class="col-11 mx-auto">
  <div class="slide-content row mb-5 pb-5 ">
    <div class="box mb-5">
      <div class="bgImg src1"></div>
      <div class="bgImg src2"></div>
      <div class="bgImg src3"></div>
      <div class="bgImg src4"></div>
    </div>

    <div class="slide-text">
      <div class=""><h4>TravelOur</h4></div>
      TravelOurとは海外生活もしくは海外旅行に<br><br>
      関する質問・回答(Q&A)するサービスです<br><br>
      困ったことがあればトラベラーのみなさんに質問してみましょう!<br><br>
      また、海外生活や海外旅行に関して困っている人がいたら、<br><br>
      あなたの経験を教えてあげましょう！<br><br>
      「近くのスーパーどこが安いかわからない。」<br><br>
      「治安が良い所と悪い所はどこかな？」<br><br>
      なんでもOKです！ラクラク投稿で聞いてみましょう！
    </div>
  </div>
  </div>
</div>
