<div class="slide-content row mb-3">
  <div class="box">
    <div class="bgImg src1"></div>
    <div class="bgImg src2"></div>
    <div class="bgImg src3"></div>
    
  </div>

  <div class="slide-text">
    <h4>もうランニングで悩まない！</h4><br><br>
    いつも近所でランニング、飽きた！<br>
    大会にエントリーしたけど何していいの？<br>
    ランニングのアプリ使ってるけど、<br>
    ◯kmを◯分かかって、1kmあたり◯秒ペース、<br>
    これってどうなの？<br>
    こんな悩みを持つ方にぴったりのサービスです。<br>
    気になる<strong class="text-dark">ランニングコース</strong>が見つかるかもしれません。<br>
    いつもと違う場所でランニングを楽しみましょう！<br><br>
    また、適切な練習がわからない方、<br>
    まずは<strong class="text-dark">ベストタイムを登録</strong>しましょう。<br>
    <strong class="text-dark">練習メニューや走力レベル</strong>を確認できます。<br><br>
  </div>
</div>