

<!--TODO: TOP画面の編集-->
  <%
=begin%>
 <div id="wrapper">
    <canvas id="particle"></canvas>
  </div> 
<%
=end%>

    <div class="top-title fadeUp">
    </div>
  
    <div class="discription text-center my-5 py-4 fadeUp">
      <h2 class="mb-3 ">TravelOurとは</h2>
      <p style="font-size: 1rem;">海外生活もしくは海外旅行に関する質問・回答(Q&A)するサービスです<br><br>
        困ったことがあればトラベラーのみなさんに質問してみましょう!
      </p>
    </div>
    <div class="feature text-center py-5 fadeUp" style="background-color: #f0e8df;">
      <h2 class="mb-5">TravelOurの特徴</h2>
      <div class="d-flex justify-content-around flex-wrap flex-md-nowrap">
        <div class="col-12 col-md-3">
          <div class="feature_component text-center mb-3">
            <span>質問機能</span>
          </div>
          <p style="font-size: 1rem;">
          海外生活もしくは海外旅行に関する質問を投稿することができます。<br>
          位置情報と画像も一緒に投稿することでより詳細な質問をすることができます。
          </p>
        </div>
        <div class="col-12 col-md-3">
          <div class="feature_component text-center mb-3">
            <span>回答機能</span>
          </div>
          <p style="font-size: 1rem;">
          回答者は質問一覧から質問を選び回答することができます。<br>
          回答する場合も位置情報と画像も一緒に投稿できます
          </p>
        </div>
        <div class="col-12 col-md-3">
          <div class="feature_component text-center mb-3">
            <span>フォロー機能</span>
          </div>
          <p style="font-size: 1rem;">
          ユーザーとフォローし合うことで回答依頼を送ることができます。
          </p>
        </div>
      </div>
    </div>


<%
=begin%>
 
<div class="container">
  <div class="col-11 mx-auto">
    <div class="slide-content row mb-5 pb-5">
      <div class="box mb-5 title fadeUp">
        <div class="bgImg src1"></div>
        <div class="bgImg src2"></div>
        <div class="bgImg src3"></div>
        <div class="bgImg src4"></div>
      </div>

      <div class="slide-text">
        <div class="title delay-time02 fadeUp"><h4>TravelOur</h4></div>
          <div class = "title delay-time04 fadeUp">
            TravelOurとは海外生活もしくは海外旅行に<br><br>
            関する質問・回答(Q&A)するサービスです<br><br>
            困ったことがあればトラベラーのみなさんに質問してみましょう!<br><br>
            また、海外生活や海外旅行に関して困っている人がいたら、<br><br>
            あなたの経験を教えてあげましょう！<br><br>
            「近くのスーパーどこが安いかわからない。」<br><br>
            「治安が良い所と悪い所はどこかな？」<br><br>
            なんでもOKです！ラクラク投稿で聞いてみましょう！
          </div>
      </div>
    </div>
  </div>
  
</div> 
<%
=end%>


<%= javascript_include_tag "particleText" %>
<script>

// $(window).on('load',function(){
//     $("#splash-logo").delay(1200).fadeOut('slow');//ロゴを1.2秒でフェードアウトする記述
	
//     //=====ここからローディングエリア（splashエリア）を1.5秒でフェードアウトした後に動かしたいJSをまとめる
//     $("#splash").delay(1500).fadeOut('slow',function(){//ローディングエリア（splashエリア）を1.5秒でフェードアウトする記述
    
//         $('body').addClass('appear');//フェードアウト後bodyにappearクラス付与
	
//     });
//     //=====ここまでローディングエリア（splashエリア）を1.5秒でフェードアウトした後に動かしたいJSをまとめる
    
//    //=====ここから背景が伸びた後に動かしたいJSをまとめたい場合は
//     $('.splashbg').on('animationend', function() {    
//         //この中に動かしたいJSを記載
//     });
//     //=====ここまで背景が伸びた後に動かしたいJSをまとめる
        
// });

// $("#particle").particleText({
//     text: "TravelOur", // 表示させたいテキスト。改行の場合は<br>追加
//     colors:["#87cefa","#87cefa", "#87cefa"], // パーティクルの色を複数指定可能
//     speed: "high",  // slow, middle, high の3つから粒子が集まる速さを選択
//   });
</script>







