#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.a_tag:hover {
  background-color: #6495ed;
}

.nav-link.margin-0 {
  margin: 0;
}

#dropdown {
  text-align: center;
}

.updated {
  display: flex;
  justify-content: flex-end;
  line-height: 1;
}
.navbar {
  background-color: skyblue;
  color: white;
}
.tab {
  color: white;
}
.nav-link.margin-0 {
  font-family: "ヒラギノ角ゴシック";
}

body {
  background-image: linear-gradient(-90deg, #f0f8ff, white);
}
