// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* posts/index ================================ */

.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a,
.post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.photo_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #2d3133;
  background-color: #3ecdc6;
  margin-top: 100px;
  padding: 10px;
}

//display:block;

.photo_list a {
  background-color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  position: absolute;
  letter-spacing: 0.4rem;
  color: #66cdaa;
  padding: 10px;
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position: relative;
  width: 500px;
  height: 400px;
  // margin: auto;
  overflow: hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: bgAnime 20s infinite; /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image: url(/images/top4.png); /* 背景の画像を指定 */
  background-size: 500px 400px;
}
.box .src2 {
  background-image: url(/images/top.png); /* 背景の画像を指定 */
  animation-delay: 5s;
  background-size: 500px 400px;
}
.box .src3 {
  background-image: url(/images/top2.png); /* 背景の画像を指定 */
  animation-delay: 10s;
  background-size: 500px 400px;
}

.box .src4 {
  background-image: url(/images/top3.png); /* 背景の画像を指定 */
  animation-delay: 15s;
  background-size: 500px 400px;
}
@keyframes bgAnime {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString {
  position: absolute;
  display: inline-block;
  padding: 20px;
  background: rgba(0, 127, 255, 0.7); /* 半透明の青 */
  color: #fff;
  top: 50%; /* 中央寄せ */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.text-muted.btn.delete_padding {
  padding: 0px;
}
.text-absolute {
  margin-right: 5px;
}
.justify {
  display: flex;
  height: 38px;
}

.slide-content {
  margin-top: 20px;
  justify-content: space-around;
}
.slide-text h4 {
  background: linear-gradient(transparent 60%, #87cefa);
  display: inline-block;
  font-size: 30px;
  font-family: ヒラギノ角ゴシック;
  color: black;
}

.about-main {
  padding: 180px 8% 0;
  color: #000000;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
}

.about-img {
  width: 84%;
}
.question table {
  border-collapse: collapse;
  border-spacing: 0;
}
.question th {
  width: 200px;
  background: none repeat scroll 0 0 #efefef;
  border: 1px solid #ccc;
  border-right: 1px dotted #ccc;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.question td {
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px;
  text-align: left;
}

.question ul {
  padding: 0px;
  margin: 0 0 0 -5px;
}
.question li {
  list-style: none;
  padding: 0px;
}
.question th {
  font-size: 14px;
  font-family: "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, "MS P Gothic",
    "ＭＳ Ｐゴシック", sans-serif;
}

.question-tabs {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;

  padding-left: 0px;
  box-shadow: 0 2px 6px #c1ced7;
}

.question-tabs li {
  float: left;
  list-style-type: none;
  margin: 0;
}

.question-tabs li.activate {
  border-bottom: 2px solid #3ecdc6;
  padding-left: 0px;
}

.question-tabs li.activate a {
  color: #57575f;
}

.question-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}
.text-right.magin-0 {
  margin-bottom: 0;
}
.indent {
  margin-right: 18px;
}

.text-muted.aaaaa {
  float: left;
}
.card {
  margin-right: auto;
  margin-left: auto;
}
.question-post {
  border-bottom: dashed 2px #6594e0;
  position: relative;
}

.dash {
  border-bottom: 1px dotted #ddd;
}
.best-answer {
  font-size: 20px;
}

$info_t1: #e0ffff;
.card.bg-info .card-header {
  background-color: $info_t1 !important;
  padding-right: 0;
}
.top {
  overflow: hidden;
}

.ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8.8px;
  right: -38.4px;
  height: 20px;
  width: 120px;
  transform: rotate(40deg);
  text-transform: uppercase;
  background: #f38d33;
  color: #fff;
  font-size: 12.4px;
  line-height: 3;
  z-index: 100;
  letter-spacing: 3px;
}
.ribbon-done {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8.8px;
  right: -38.4px;
  height: 20px;
  width: 120px;
  transform: rotate(40deg);
  text-transform: uppercase;
  background: #afb6bf;
  color: #fff;
  font-size: 12.4px;
  line-height: 3;
  z-index: 100;
  letter-spacing: 3px;
}

.index-ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8.8px;
  right: -38.4px;
  height: 20px;
  width: 120px;
  transform: rotate(40deg);
  text-transform: uppercase;
  background: #f38d33;
  color: #fff;
  font-size: 12.4px;
  line-height: 3;
  z-index: 100;
  letter-spacing: 3px;
  &:hover {
    background-color: #f38d33 !important;
  }
}

.index-ribbon-done {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8.8px;
  right: -38.4px;
  height: 20px;
  width: 120px;
  transform: rotate(40deg);
  text-transform: uppercase;
  background: #afb6bf;
  color: #fff;
  font-size: 12.4px;
  line-height: 3;
  z-index: 100;
  letter-spacing: 3px;
  &:hover {
    background: #afb6bf !important;
  }
}
.question-title {
  background-color: $info_t1 !important;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.question-content {
  overflow: hidden;
}
.question .bg-warning .card-body {
  background-color: #fff8dc;
}
.question-body {
  .nav-tabs {
    border-bottom: 0px;
  }
}

.card-body {
  background-color: white;
}
.form-group {
  margin: 0;
}

.dropdown-menu li a {
  padding: 8px 16px;
  line-height: 1.429;
  color: #606d7a;
  display: block;
}

.icon {
  color: #6594e0;
}

.fa-ribbon {
  color: rgb(255, 136, 0);
}

.fa-thumbs-up {
  color: rgb(255, 136, 0);
}

.map {
  display: none;
  width: 800px;
  height: 500px;
  overflow: hidden;
  position: relative;
  a {
    position: absolute;
    z-index: 20;
  }
  .mapbtn {
    position: absolute;
    left: 380px;
    top: 210px;
    z-index: 20;
  }
  img.all {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
  }
  img.asia {
    width: 200%;
    height: 200%;
    position: absolute;
    top: -150px;
    left: -230px;
    z-index: 15;
  }
}

.word {
  display: inline-block;
  margin: 0 0.1em 0.6em 0;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border: 1px solid orange;
  border-radius: 2em;
}

.word-q {
  display: inline-block;
  margin: 0 0.1em 0.6em 0;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border: 1px solid #0000ee;
  border-radius: 2em;
}

.hide-question,
.see-more:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.card-body {
  a {
    color: #495057 !important;
  }
  a:hover {
    text-decoration: underline !important; /*リンクにマウスが乗ったら下線を表示*/
    background-color: #fff !important;
    color: #778899 !important;
  }
}
.search-tag {
  a {
    color: #495057 !important;
  }
  a:hover {
    text-decoration: none !important; /*リンクにマウスが乗ったら下線を表示*/
    background-color: #fff !important;
    color: #778899 !important;
  }
}

.question-body,
.select-order {
  a {
    color: black !important;
  }
  a:hover {
    text-decoration: underline !important; /*リンクにマウスが乗ったら下線を表示*/
    background-color: #fff !important;
    color: black !important;
  }
}

.result {
  margin-top: 2px;
}

.slide {
  z-index: 10;
  display: flex;
  flex-direction: column;

  background: #282a34;
  transition-duration: 0.3s;
  transition-property: width, min-width, transform;
}
.ranking-mark {
  color: #fff;
  display: inline-block;
  width: 22px;
  height: 22px;
  min-height: 22px;
  min-width: 22px;

  line-height: 1;
  padding: 3px 0;
  border-radius: 11px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
  white-space: nowrap;
}
.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: #cd7f32;
}

.ranking {
  border-bottom: 1px solid #ebebeb;
  a {
    color: #007bff !important;
    &:hover {
      background-color: transparent;
      color: #007bff !important;
    }
  }
}

.less_4 {
  padding-right: 5px;
  margin-left: 5.5px;
}

.fa-crown {
  color: gold;
}

.question-body {
  .list-group-item {
    border-top-width: 1px !important;
    border-radius: inherit;
    &:hover {
      background-color: white;
    }
  }
  .nav-link:hover {
    border-color: transparent !important;
    text-decoration: underline !important;
  }
}

.first-comment.list-group-item:first-child {
  border-radius: inherit;
}

.follow {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 13px;
  color: blue;
  font-weight: 700 !important;
  &:hover {
    text-decoration: underline;
  }
}

.form-follow {
  display: inline-block !important;
}

.question-user-name {
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.questions-show {
  .list-group-item {
    &:hover {
      background-color: white;
    }
    // & :hover {
    //   background-color: red;
    // }
  }

  .comment-content {
    .list-group-item {
      &:not(:first-child) {
        border-top-width: 0px !important;
      }
      background-color: #f7f7f8;
      // &:hover {
      //   background-color: #f7f7f8;
      // }
    }
    // &hoverにすると優先順位が低くなったため別に書いた
    .list-group-item :hover {
      background-color: #f7f7f8;
      .push-button {
        background-color: #007bff;
        &:hover {
          background-color: #87cefa;
        }
      }
      .index-ribbon-done {
        background-color: #007bff;
      }
    }
    .see-more {
      display: block;
      padding: 0.75rem 1.25rem;
      background-color: #f7f7f8;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 3px;
    }
    .see-more :hover {
      background-color: #f7f7f8 !important;
    }
  }
}

.push-textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
  background-color: white;
}
.push-textarea-answer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  border-bottom: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
  background-color: white;
}

.form-textarea {
  .FlexTextarea {
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
    textarea:focus:not(.focus-visible) {
      outline: none;
    }
  }
}

.FlexTextarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
}
.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  min-width: 560px;
  min-height: calc(1.5em + 0.75rem);
  max-height: 480px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
  border-top: none;
  border-bottom: none;
}

.push-textarea:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}

.answer-form {
  .push-textarea-answer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    border-bottom: none;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
    background-color: white;
  }

  .form-textarea {
    .FlexTextarea {
      position: relative;
      font-size: 1rem;
      line-height: 1.8;
      textarea:focus:not(.focus-visible) {
        outline: none;
      }
    }
  }

  .FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    min-width: 480px;
    min-height: 200px;
    max-height: 480px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
    border-top: none;
    border-bottom: none;
  }

  .push-textarea:focus {
    box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
    outline: 0;
  }
}
.push-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  height: calc(1.5em + 0.75rem);
  border-radius: 16px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.relational-question {
  border-bottom: 1px solid #ebebeb;
}

.relational-question-content {
  color: #007bff !important;
  &:hover {
    background-color: transparent;
  }
}

.show-content-title {
  width: 650px;
  color: #000000;
}

.respond-button {
  background-color: transparent;
  border: transparent;
  border-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  color: #495057;
  font-size: 14px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03) !important;
  }
}

.fa-long-arrow-alt-right {
  font-size: 1px;
}

.fa-edit {
  color: blue;
}

.form-header,
.form-footer {
  background-color: #f7f7f8 !important;
  &:hover {
    background-color: #f7f7f8 !important;
  }
}

.fa-image {
  font-size: 28px;
}

.fa-map-marker-alt {
  font-size: 22px;
}

.answer-form {
  &:hover {
  }
  .form-header {
    .user-image:hover,
    .user-info:hover,
    .user-name:hover,
    .question-user-name:hover {
      background-color: #f7f7f8 !important;
    }
  }

  .form-textarea {
  }

  .form-footer {
    .submit-button:hover {
      background-color: #f7f7f8 !important;
    }
    .push-button:hover {
      background-color: #87cefa !important;
    }
    .tool-area {
      background-color: #f7f7f8 !important;
      .fa-image:hover {
        background-color: transparent !important;
      }
    }
  }
}

.question-tag-container {
  flex-wrap: wrap;
}
.question-tag {
  width: 50%;
}

.question-post-container {
  .card-body {
    border-radius: calc(0.25rem - 1px);
  }
}

.question-content-footer {
  .fa-bookmark {
    font-size: 25px;
  }

  .fa-thumbs-up {
    font-size: 23px;
    &:hover {
      background-color: transparent !important;
    }
  }
  .thumbs-up-container {
    max-width: 100px;
    cursor: pointer;
  }
}

.respond-button-evaluation-bookmark {
  background-color: rgba(0, 0, 0, 0.03) !important;
  border: transparent;
  border-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  color: #495057;
  font-size: 14px;
  .thumbs-up {
    &:hover {
      border-top-left-radius: 1000px;
      border-bottom-left-radius: 1000px;
      background-color: #d3d3d3 !important;
    }
    .thumbs-up-count:hover {
      background-color: transparent !important;
    }
  }
  .bookmark {
    .fa-bookmark {
      &:hover {
        background-color: #d3d3d3 !important;
      }
    }
    &:hover {
      border-top-right-radius: 1000px;
      border-bottom-right-radius: 1000px;
      background-color: #d3d3d3 !important;
    }
  }
}

.q-image-container {
  img {
    max-width: 400px;
    max-height: 300px;
  }
}

.good-thumbs-up:hover {
  background-color: #d3d3d3 !important;
  border-radius: 1000px;
}

.map-search-button {
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  height: 32px;
  line-height: 1.5;
  border-radius: 16px;
  color: #fff;
  background-color: #007bff;
}

.map-search-textbox {
  width: 100%;
  height: 32px;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
}

.map-close-button {
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  height: 32px;
  line-height: 1.5;
  border-radius: 16px;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem);
}

.map-cancel-button {
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  height: 32px;
  line-height: 1.5;
  border-radius: 16px;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem);
}
.setChecked {
  content: "";
  width: 23px;
  height: 13px;
  border-left: 4px solid #25af01;
  border-bottom: 4px solid #25af01;
  transform: rotate(-45deg);
  position: absolute;
  top: 21px;
  right: 26px;
}

.thumbs-up-container {
  .fa-thumbs-up {
    font-size: 23px;
  }
}

.best-answer-button {
  background-color: transparent;
  border: transparent;
  border-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;

  font-size: 16px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03) !important;
  }
}

.q-setChecked {
  content: "";
  width: 23px;
  height: 13px;
  border-left: 4px solid #25af01;
  border-bottom: 4px solid #25af01;
  transform: rotate(-45deg);
  position: absolute;
  top: 22%;
  left: 36%;
}

.button-relative {
  position: relative; /*相対配置*/
}

.unread-notification {
  width: 10px;
  height: 10px;
  border-radius: 22px;
  background-color: #e82a2a;
  right: 0%;
  top: 20%;
  position: absolute;
}

.notification-container {
  position: relative;
}

.alert-top {
  top: 10px;
  width: 100%;
  display: none;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}
.buttons {
  margin: 30px;
}

.q-image-container {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(215, 210, 192);
  height: 350px;
  width: 100%;
}

.user-profile {
  .nav-link {
    &:hover {
      text-decoration: underline !important;
      background-color: #fff !important;
    }
    color: black !important;
  }
}

.request-button {
  background-color: transparent;
  border: transparent;
  border-radius: 1000px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  color: #007bff !important;

  font-size: 14px;
  &:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.03) !important;
  }
}
