.titles h2 {
    background: linear-gradient(transparent 75%, #3db6d4);
}

.smile {
    color: orange;
}

.title {
    opacity: 0;
}

/*==================================================
  ふわっ
  ===================================*/

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02 {
    animation-delay: 0.2s;
}

.delay-time04 {
    animation-delay: 0.4s;
}

/*========= 粒子を描画するエリア設定 ===============*/

#wrapper {
    /*描画されるテキストを中央寄せにする*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#particle {
    width: 100%;
    height: 100vh;
    vertical-align: bottom; /*canvasタグ下に余白が生まれるのを防ぐ*/
}

#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999;
    text-align: center;
    color: #fff;
}

#splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.splashbg {
    display: none;
    content: "";
    position: fixed;
    transform: scale(100);
    background-color: #333; /*伸びる背景色の設定*/
    z-index: 999;
    /*丸のスタートの形状*/
    top: calc(50% - 1rem); /*50%から円の半径を引いた値*/
    left: calc(50% - 1rem); /*50%から円の半径を引いた値*/
    width: 2rem;
    height: 2rem;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
    display: block;
    border-radius: 50%;
    animation-name: PageAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes PageAnime {
    0% {
        /*丸のスタート位置と形状*/
        transform: scale(100);
    }
    100% {
        /*丸の終了位置と形状*/
        transform: scale(0);
        display: none; /*終了時は消える*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
    opacity: 0; /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes PageAnimeAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
