<!-- Footer -->
<nav>
  <footer class="py-4 bg-secondary">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; TravelOur</p>
    </div>
    <!-- /.container -->
  </footer>
</nav>

